<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <h1>Edit Squad {{ squad_id }}</h1>
    <form action="" method="POST">
        <label for="squadName">Squad Name:</label>
        <input type="text" id="squadName" name="squadName" value="{{ squad[1] }}" required><br><br>

        <label for="homeTown">Home Town:</label>
        <input type="text" id="homeTown" name="homeTown" value="{{ squad[2] }}" required><br><br>

        <label for="formed">Formed:</label>
        <input type="number" id="formed" name="formed" value="{{ squad[3] }}" required><br><br>

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="{{ squad[4] }}" required><br><br>

        <label for="secretBase">Secret Base:</label>
        <input type="text" id="secretBase" name="secretBase" value="{{ squad[5] }}" required><br><br>

        <label for="active">Active:</label>
        <input type="checkbox" id="active" name="active" {% if squad[6] == 1 %}checked{% endif %}><br><br>

        <button type="submit">Save Changes</button>
    </form>
    <br>
    <a href="{{ url_for('show_squads') }}">Back to Squads List</a>
</body>
</html>