h1 {
    border: 2px #000000 solid;
    color: brown;
    text-align: center;
    padding: 15px;
}
body {
    background-color: rgb(255, 255, 255);
}
button {
    float: center;
    width: 100px;
}
form {
    text-align: center;
}
.flashes {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}
